 {% extends 'base.html' %} {% block content %} {% load cart %}

<!-- Body -->
<div class="container-fluid mt-3">
    <div class="row">

        <!-- Filter -->

        <div class="col-lg-3 mx-auto">
            <div class="list-group">
                <a href="/" class="list-group-item list-group-item-action"><b>All Products</b></a> {% for category in categories %}
                <a href="/?category={{category.id}}" class="list-group-item list-group-item-action"><b>{{category.name}}</b></a> {% endfor %}
            </div>
        </div>

        <!-- Products -->

        <div id="products" class="col-lg-9 mx-auto">
            <div class="row mx-auto">
                {% for product in products %}

                <div class="card mx-auto mb-3" style="width: 18rem;">
                    <img height="300" width="262" src="{{product.image.url}}" class="card-img-top," alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title">{{product.name}}</p> <br>
                        <p class="card-title"><b>Price-{{product.price}}</b></p>
                        {% comment %} {{product|is_in_cart:request.session.cart}} {% endcomment %}
                        <p class="card-text">{{product.description}}</p>

                    </div>
                    <div class="card-footer p-0 nu-gutters">
                    {% if product|is_in_cart:request.session.cart %}
                    <div class="row nu-gutters">
                        <form action="" class="col-2" method="post">
                            {% csrf_token %}
                            <input hidden name="product" type="text" value="{{product.id}}">
                            <input hidden name="remove" type="text" value="True">
                            <input type="submit" value=" - " class=" btn btn-block btn-secondary">
                        </form>
                        <div class="text-center col">{{product|cart_quantity:request.session.cart}} in Cart</div>
                        <form action="" class="col-2" method="post">
                            {% csrf_token %}
                            <input hidden name="product" type="text" value="{{product.id}}">
                            <input type="submit" value=" + " class=" btn btn-block btn-secondary">
                        </form>
                    </div>
                    {% else %}
                    <form action="/" method="post" class="btn-block">
                        {% csrf_token %}
                        <input hidden name="product" type="text" value="{{product.id}}">
                        <input type="submit" class="float-right btn btn-primary border form-control" value="Add To Cart">
                    </form>
                    {% endif %}
                    </div>
                    
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
